[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
youtube3 = "*"
vk7 = "*"
django = "*"
numpy = "*"
pytest = "*"

[dev-packages]
pytest = "*"
flask = "*"

[requires]
python_version = "3.9"
